@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/img/background-img/viñedo7.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.body-1 {
  background-image: url(../assets/img/background-img/viñedo1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.body-2 {
  background-image: url(../assets/img/background-img/viñedo2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.body-3 {
  background-image: url(../assets/img/background-img/viñedo3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.body-4 {
  background-image: url(../assets/img/background-img/viñedo4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.body-5 {
  background-image: url(../assets/img/background-img/viñedo5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.body-6 {
  background-image: url(../assets/img/background-img/viñedo6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.body-7 {
  background-image: url(../assets/img/background-img/viñedo7.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.body-8 {
  background-image: url(../assets/img/background-img/viñedo8.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.contenido-carrito {
  width: 300px;
  height: 500px;
  position: absolute;
  z-index: 500;
  right: 5%;
  top: 120px;
  border: 1px solid lightgray;
  visibility: hidden;
  color: #e00808;
}

.tamano {
  width: 50px;
}

.animacion:hover {
  transform: scale(1.015);
  transition: 1.5s;
}

.animacion1:hover {
  transform: scale(1.3);
  transition: 2.5s;
  border: 0;
}

.background_header {
  background-color: rgba(124, 130, 140, 0.407);
}

.tangerine {
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 48px;
}

@media (max-width: 576px) {
  .tangerine {
    font-size: 35px;
  }
}

.font50 {
  font-size: 65px;
}

.back_img_maridaje {
  background-image: url(../assets/img/background-img/viñedo8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
}

.bg-darky {
  background-color: rgba(0, 0, 0, 0.785);
  color: white;
}

.btn-mas-menos-green {
  width: 15px;
  height: 25px;
}

.btn-mas-menos-green:hover {
  background-color: green !important;
}

.btn-mas-menos-red {
  width: 15px;
  height: 25px;
}

.btn-mas-menos-red:hover {
  background-color: red !important;
}
/*# sourceMappingURL=style.css.map */